<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Faturamento por Categoria e Ano</title>
</head>
<body>
    <h1>Faturamento por Categoria e Ano</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nome da Categoria</th>
                <th>Ano</th>
                <th>Faturamento Total</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="resultado : ${consulta5}"> <!-- necessário testes-->
                <td th:text="${resultado[1]}"></td> <!-- nome_categoria -->
                <td th:text="${resultado[0]}"></td> <!-- ano -->
                <td th:text="${resultado[2]}"></td> <!-- faturamento_total -->
            </tr>
        </tbody>
    </table>
</body>
</html>
