<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultas</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Caso tenha um CSS -->
</head>
<body>
    <h1>Consultas do Projeto</h1>
    <ul>
        <li><a href="">Consulta 1 - </a></li>
        <li><a href="/clientes/consulta2">Consulta 2 - Produtos em Estoque</a></li>
        <li><a href="/armazens/consulta3">Consulta 3 - Armazéns de Eletrônicos</a></li>
        <li><a href="">Consulta 4 - </a></li>
        <li><a href="">Consulta 5 - </a></li>
        <li><a href="/pedidos/consulta6">Consulta 6 - Produtos por Preço de Venda</a></li>
        <li><a href="/produtos/consulta7">Consulta 7 - Estoques em Baixa</a></li>
        <li><a href="/produtos/consulta8">Consulta 8 - Fornecedores Internacionais</a></li>
        <li><a href="/clientes/consulta9">Consulta 9 - Pedidos por Status</a></li>
        <li><a href="">Consulta 10 -</a></li>
    </ul>
</body>
</html>